<style>
  .encabezado {
   text-align:center;
  }
  .banner{
    width:100%;
    height:200px;
    background-color:yellow;
  }
  .contenedor{
    width:100%;
    height:500px;

    margin-top:25px;
  }
  .contenedor >.izquierda{
    background-color:blue;
    float:left;
    height:320px;
    width:50%;

  }
  p{
    margin:20px;
  }

   .contenedor >.derecha{
    background-color:green;
    float:left;
    height:320px;
    width:50%;

  }

</style>


<div class= 'encabezado'>
    <h1>quiero una mac </h1>

    <%= link_to 'enlace a home',about_path %>


</div>


<div class='banner'>


</div>

<div class='contenedor'>
  <div  class='izquierda'>
    <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. </p>


  </div>
  <div class='derecha '>
    <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. </p>

</div>
